.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* full screen height */
    flex-direction: column;
    padding-bottom: 60vh;
  }

  .google-login{
    display: flex;
    
  }

  